#wtf.modal.hide.fade
	h3 Ummmm.... WTF!?!?
	P You're Listening to the Farts of the World. If anyone on Twitter mentions the word "Fart", this website will pull in the tweet (real time) and play a fart noise.
	p If you're only interested in listening to your own farts, just <a data-toggle='modal' class='sign_in' href='#sign_in'>go here</a> and tweet something about farts.
	p If you don't specify the kind of fart you'd like to hear, the site will play a random one. If you have something in mind, hash tag with one of the following.
	ul.fart_types
		each file in files
			li= file