!!! 5
//Farts
html
	head
		title Fart Charade!
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/socket.io/socket.io.js')
		script(src='/js/jquery-1.7.1.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/poop_listener.js')


	body
		!= body