!=partial('header')

h2 Mr.Poops couldn't find your twitter username. Did you enter it correctly? <a data-toggle='modal' href='#sign_in'>Try it Again</a>. <a data-toggle='modal' class='wtf' href='#wtf'>WTF?</a>

#sign_in.modal.hide.fade
	h3 Your Twitter Username Please:
	input
	a.btn.btn-primary.btn-large OK!

!=partial('wtf')