!=partial('header')

h2 I LOOOOVE FARTS. I want to hear <a href='/'>everyone's farts</a>
ul.list_tags
	each file, i in files
		if i%2 == 0
			li
				##{file}

.hide.is_personal
!=partial('farters')
!=partial('wtf')