@import 'animation'

$yellow 	= #fcc954
$blue 		= #5574cf
$red 		= #c4162f
$gray 		= rgba(0,0,0,.85)

body
	padding						5%
	background-color 			$gray

header
	overflow 					visible
	position 					relative
	height 						100px
	width 						100%
	margin-bottom 				20px

h1
	float						left
	width						45%
	height 						100%
	background 					url(../img/fartcharade.png) no-repeat left center
	-webkit-background-size		100% auto
	text-indent					-999%

h2
	width 						50%
	color 						#fff
	line-height 				120%
	margin-bottom 				20px
	a
		color 					$yellow
	a:hover
		color 					$red
div.charade
	z-index 					2
	position 					absolute
	top 						-50px
	right 						0
	width						50%
	height 						200px
	background 					url(../img/charade.png) no-repeat right center
	-webkit-background-size  	auto 100%


div.charade.rotate
	-webkit-animation			rotate 4s infinite
	-moz-animation				rotate 4s infinite
	-ms-animation				rotate 4s infinite


div.poop_wrapper
	position 					absolute
	right 						0
	height 						60%
	width 						30%
	top 						15%
	right 						12%

div.poop
	position				absolute
	width					100%
	height 					100%
	background 				url(../img/poop.png) no-repeat center center
	-webkit-transform		scale(1.75)
	-webkit-transition		all .4s

div.poop.pooped
	-webkit-transform		scale(3)
	-webkit-transition		none
	-webkit-animation		rumble .4s infinite
	-moz-animation			rumble .4s infinite
	-ms-animation			rumble .4s infinite

h3
	margin-bottom 					10px

div.latest_farters
	font-size 						175%
	ul
		list-style-type 			none
		margin-left 				0
	li 
		overflow 					hidden
		margin-bottom 				15px
		line-height 				130%
		background-color 			$red
		-webkit-border-radius 		5px 
		padding 					10px
		color 						#fff
		a
			color 					$yellow
	li:nth-child(odd)
		background-color 			$blue
		a
			color 					$yellow
	img
		margin-right 				15px
		float 						left
		width 						20%
		height 						auto
		-webkit-border-radius 		5px 
	p
		width 						75%

ul.all_fart_sounds
	display 						none

audio
	position 						absolute
	top 							10
	right 							10
	display 						none
	height 							100px

.well
	background-color 				$yellow

.modal
	width 							300px
	padding 						30px
	background-color 				$yellow
	margin-left 					-200px
	p
		font-size 					130%
		line-height					140%
	h3
		font-size 					170%
		color 						$red
	input
		display 					block
		width 						90%
		padding 					5%
		font-size 					150%
		color 						$gray

a.wtf 
	color 							$red
a.wtf:hover
	color 							$blue

.fart_types
	margin 							0
	list-style-type 				none
	li
		line-height					140%
		font-size 					150%
		margin 						0 10px
		display 					inline
	li:first-child
		margin-left 				0