body
	padding							50px

div.poop
	display 							inline-block
	width 							100%
	height 							50px
	background 						url(../img/poop.png) no-repeat center center

div.poop.pooped
	width 							30%

h3
	margin-bottom 					10px

div.latest_farters
	ul
		list-style-type 			none
		margin-left 				0
	li 
		overflow 					hidden
		margin-bottom 				15px
	img
		margin-right 				15px
		float 						left
		width 						20%
		height 						auto
	p
		width 						75%

ul.all_fart_sounds
	
	display 						none

audio
	display 						none