body
	padding							50px

div.poop
	display 							inline-block
	width 							100%
	height 							50px
	background 						url(../img/poop.png) no-repeat center center

div.poop.pooped
	width 							30%

h3
	margin-bottom 					10px