@-webkit-keyframes rumble {
  0%   { left: 10px; }
  10%  { left: -10px: top: -5px;}
  30%  { left: 6px; top: 12px; }
  50%  { left: -6px; top: -6px; }
  70%  { left: 6px; top: 12px; }
  90%  { left: -4px; top: -5px; }
  100% { left: 0; top: 0; }
}
@-moz-keyframes rumble {
  0%   { left: 10px; }
  10%  { left: -10px: top: -5px;}
  30%  { left: 6px; top: 12px; }
  50%  { left: -6px; top: -6px; }
  70%  { left: 6px; top: 12px; }
  90%  { left: -4px; top: -5px; }
  100% { left: 0; top: 0; }
}
@-ms-keyframes rumble {
  0%   { left: 10px; }
  10%  { left: -10px: top: -5px;}
  30%  { left: 6px; top: 12px; }
  50%  { left: -6px; top: -6px; }
  70%  { left: 6px; top: 12px; }
  90%  { left: -4px; top: -5px; }
  100% { left: 0; top: 0; }
}


body {
  padding: 50px;
}
div.poop {
  display: inline-block;
  width: 100%;
  height: 60px;
  background: url("../img/poop.png") no-repeat center center;
  position: relative;
  -webkit-transform: scale(1);
  -webkit-transition: all .4s;
}
div.poop.pooped {
  -webkit-transform: scale(1.2);
  -webkit-transition: none;
  -webkit-animation: rumble .4s infinite;
  -moz-animation:    rumble .4s infinite;
  -ms-animation:     rumble .4s infinite;
}
h3 {
  margin-bottom: 10px;
}
div.latest_farters ul {
  list-style-type: none;
  margin-left: 0;
}
div.latest_farters li {
  overflow: hidden;
  margin-bottom: 15px;
}
div.latest_farters img {
  margin-right: 15px;
  float: left;
  width: 20%;
  height: auto;
}
div.latest_farters p {
  width: 75%;
}
ul.all_fart_sounds {
  display: none;
}
audio {
  display: none;
}
